@charset "UTF-8";

// ------------------------------------------------------------------------
// Fonts
// ------------------------------------------------------------------------

@font-face {
  font-family: "Gaisyr";
  src: url("../fonts/ABCGaisyr-Light-Trial.woff2") format("woff2"),
    url("../fonts/ABCGaisyr-Light-Trial.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
$font-serif: "Gaisyr", serif;

@mixin font-style($ff, $xs, $sm, $md, $lg, $xl, $letter-sp, $line-h) {
  font-family: $ff;
  font-size: $xs;
  font-optical-sizing: auto;
  letter-spacing: $letter-sp;
  line-height: $line-h;
  @include media-breakpoint-up(sm) {
    font-size: $sm;
  }
  @include media-breakpoint-up(md) {
    font-size: $md;
  }
  @include media-breakpoint-up(lg) {
    font-size: $lg;
  }
  @include media-breakpoint-up(xl) {
    font-size: $xl;
  }
}

// ------------------------------------------------------------------------
// Font styles
// ------------------------------------------------------------------------

@mixin font-serif-l {
  @include font-style(
    $ff: $font-serif,
    $xs: 27px,
    $sm: 27px,
    $md: 27px,
    $lg: 27px,
    $xl: 27px,
    $letter-sp: 0,
    $line-h: 1.25em
  );
}
.font-serif-l {
  @include font-serif-l;
}

@mixin font-serif-m {
  @include font-style(
    $ff: $font-serif,
    $xs: 18px,
    $sm: 18px,
    $md: 18px,
    $lg: 18px,
    $xl: 18px,
    $letter-sp: 0,
    $line-h: 1.3em
  );
}
.font-serif-m {
  @include font-serif-m;
}

@mixin font-serif-s {
  @include font-style(
    $ff: $font-serif,
    $xs: 15px,
    $sm: 15px,
    $md: 15px,
    $lg: 15px,
    $xl: 15px,
    $letter-sp: 0,
    $line-h: 1.3em
  );
}
.font-serif-s {
  @include font-serif-s;
}

// -----------------------------------------------------------------------------
// Elements
// -----------------------------------------------------------------------------

p {
  @include font-serif-m;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin: $space 0;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
h1 {
  @include font-serif-l;
}
h2 {
  @include font-serif-l;
}
h3 {
  @include font-serif-l;
}
h4 {
  @include font-serif-m;
}
h5 {
  @include font-serif-s;
}
h6 {
  @include font-serif-s;
}

// -----------------------------------------------------------------------------
// Block styles
// -----------------------------------------------------------------------------

.block-sans-s,
.block-sans-s p {
  color: black;
  @include font-serif-s;
}

.block-sans-m,
.block-sans-m p {
  color: black;
  @include font-serif-m;
}

.block-sans-l,
.block-sans-l p {
  color: black;
  @include font-serif-l;
}
