@charset "UTF-8";

// -----------------------------------------------------------------------------
// SCSS Variables
// -----------------------------------------------------------------------------

$button-h: 47px;
$button-h-s: 37px;
$menu-h: 50px;
$border-radius: 3px;
$space: 15px;
$ui-space-mob: 45px;
$ui-space-dsk: 65px;
$border-width-mob: 1px;
$border-width-dsk: 1px;
$c-whiteish: #f1f3d7;

// -----------------------------------------------------------------------------
// External files import
// -----------------------------------------------------------------------------

@import "bootstrap-scss/_functions";
@import "bootstrap-scss/_variables";
@import "bootstrap-scss/mixins/_breakpoints";
@import "_reset";
@import "_typography";
@import "_mixins";
@import "_switch";
@import "hamburger-settings";
@import "hamburgers/hamburgers";

// -----------------------------------------------------------------------------
// CSS Variables
// -----------------------------------------------------------------------------

:root {
  --ui-space: #{$ui-space-mob};
  --border-width: #{$border-width-mob};
  @include media-breakpoint-up(md) {
    --ui-space: #{$ui-space-dsk};
    --border-width: #{$border-width-dsk};
  }
}

// -----------------------------------------------------------------------------
// Utilities
// -----------------------------------------------------------------------------

.no-u {
  text-decoration: none;
}
.u-hover {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.pointer {
  cursor: pointer;
}
.upper {
  text-transform: uppercase;
}
.lower {
  text-transform: none;
}

.p-space {
  padding: $space;
}
.pt-space {
  padding-top: $space;
}
.pb-space {
  padding-bottom: $space;
}
.pl-space {
  padding-left: $space;
}
.pr-space {
  padding-right: $space;
}
.m-space {
  margin: $space;
}
.mt-space {
  margin-top: $space;
}
.mb-space {
  margin-bottom: $space;
}
.ml-space {
  margin-left: $space;
}
.mr-space {
  margin-right: $space;
}
.px-space {
  padding-left: $space;
  padding-right: $space;
}
.py-space {
  padding-top: $space;
  padding-bottom: $space;
}
.mx-space {
  margin-left: $space;
  margin-right: $space;
}
.my-space {
  margin-top: $space;
  margin-bottom: $space;
}

// -----------------------------------------------------------------------------
// General tags & classes
// -----------------------------------------------------------------------------

* {
  // text-rendering: auto;
  // text-rendering: optimizeSpeed;
  // text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision; // OK on chrome
}

body {
  overflow-x: hidden;
  width: 100vw;
  background-color: black;
  color: $c-whiteish;
  @include font-serif-m;
  text-align: center;
  &.media-open {
    overflow: hidden;
  }
}

main {
}

hr {
  border-top: var(--border-width) solid $c-whiteish;
}

a {
  text-decoration: none;
  text-decoration-thickness: 1px;
  text-underline-offset: 10%;
  color: inherit;
  // &:hover { color: white; }
}

ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

// -----------------------------------------------------------------------------
// REUSABLE PIECES
// -----------------------------------------------------------------------------

.custom-hover:hover {
  color: var(--hover-color);
}
.only-dsk {
  @include media-breakpoint-down(xs) {
    display: none;
  }
}
.only-mob {
  @include media-breakpoint-up(sm) {
    display: none;
  }
}

// -----------------------------------------------------------------------------
// SPECIFIC - PANELS
// -----------------------------------------------------------------------------

#menu-panel {
  z-index: 30;
  position: fixed;
  top: var(--ui-space);
  left: var(--ui-space);
  right: var(--ui-space);
  bottom: var(--ui-space);
  // background-color: rgba(#9f4848, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: all 200ms;
  @at-root body[data-menu-panel="true"] & {
    opacity: 1;
    pointer-events: all;
  }
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;

  ul.content-wrapper {
    max-height: 100%;
    overflow-y: auto;
    padding-top: $space * 2;
    padding-bottom: $space * 2;
  }
  a.track {
    @include font-serif-l;
    display: inline-flex;
    width: 100%;
    padding: 8px 0;
    .left,
    .right {
      width: 50%;
      display: inline-block;
      padding-left: $space;
      padding-right: $space;
    }
    .left {
      text-align: right;
    }
    .right {
      text-align: left;
    }
  }
  .line {
    border-left: var(--border-width) solid $c-whiteish;
    position: fixed;
    top: var(--ui-space);
    bottom: var(--ui-space);
    left: 50%;
    width: 0;
  }
  @include media-breakpoint-down(md) {
    a.track {
      @include font-serif-m;
    }
  }
  @include media-breakpoint-down(sm) {
    a.track {
      display: block;
      .left,
      .right {
        width: 100%;
        text-align: center;
      }
    }
    .line {
      display: none;
    }
  }
}

#accessibility-panel {
  z-index: 30;
  position: fixed;
  top: var(--ui-space);
  left: var(--ui-space);
  width: 320px;
  bottom: var(--ui-space);
  border-right: var(--border-width) solid $c-whiteish;
  padding: $space;
  @include media-breakpoint-down(md) {
    width: auto;
    right: 50%;
  }
  @include media-breakpoint-down(xs) {
    width: auto;
    right: var(--ui-space);
    border-right-width: 0;
  }
  // background-color: rgba(#9f4848, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: all 200ms;
  @at-root body[data-accessibility-panel="true"] & {
    opacity: 1;
    pointer-events: all;
  }
}

#about-panel {
  z-index: 30;
  position: fixed;
  top: calc(100% - var(--ui-space));
  left: var(--ui-space);
  right: var(--ui-space);
  height: calc(100% - var(--ui-space) - var(--ui-space));
  overflow-y: scroll;
  // background-color: rgba(#9f4848, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: all 200ms;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  @at-root body[data-about-panel="true"] & {
    opacity: 1;
    pointer-events: all;
    top: var(--ui-space);
  }
  .about-content,
  .credits-content {
    width: 50%;
    padding: $space;
    hr {
      margin-top: $space;
      margin-bottom: $space;
      margin-left: -$space;
      margin-right: -$space;
    }
  }
  .line {
    border-left: var(--border-width) solid $c-whiteish;
    position: fixed;
    top: var(--ui-space);
    bottom: var(--ui-space);
    left: 50%;
    width: 0;
  }
  @include media-breakpoint-down(sm) {
    flex-flow: column nowrap;
    .about-content,
    .credits-content {
      width: 100%;
    }
    .line {
      display: none;
    }
  }
}

// -----------------------------------------------------------------------------
// SPECIFIC - UI
// -----------------------------------------------------------------------------

#top-txt,
#bottom-txt {
  z-index: 50;
  position: fixed;
  left: var(--ui-space);
  right: var(--ui-space);
  height: var(--ui-space);
  transition: all 200ms;
  display: flex;
  align-items: center;
  justify-content: center;
  @include font-serif-l;
}
#top-txt {
  top: 0;
}
#bottom-txt {
  bottom: 0;
}

#button-wrapper-top-left,
#button-wrapper-top-right,
#button-wrapper-bottom-left,
#button-wrapper-bottom-right {
  z-index: 49;
  position: fixed;
  background-color: black;
  width: var(--ui-space);
  height: var(--ui-space);
  max-width: var(--ui-space);
  max-height: var(--ui-space);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 200ms;
  overflow: hidden;
  color: $c-whiteish;
  button {
    background-color: transparent;
    img {
      width: 100%;
      height: 100%;
      // max-width: var(--ui-space);
      // max-height: var(--ui-space);
    }
  }
}
#button-wrapper-top-left {
  top: 0;
  left: 0;
}
#button-wrapper-top-right {
  top: 0;
  right: 0;
}
#button-wrapper-bottom-left {
  bottom: 0;
  left: 0;
}
#button-wrapper-bottom-right {
  bottom: 0;
  right: 0;
}

#ui-line-top,
#ui-line-bottom,
#ui-line-left,
#ui-line-right {
  z-index: 50;
  position: fixed;
  background-color: transparent;
  pointer-events: none;
  transition: all 200ms;
}
#ui-line-top {
  top: 0;
  left: 0;
  right: 0;
  height: var(--ui-space);
  border-bottom: var(--border-width) solid $c-whiteish;
}
#ui-line-bottom {
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--ui-space);
  border-top: var(--border-width) solid $c-whiteish;
}
#ui-line-left {
  left: 0;
  top: 0;
  bottom: 0;
  width: var(--ui-space);
  border-right: var(--border-width) solid $c-whiteish;
}
#ui-line-right {
  right: 0;
  top: 0;
  bottom: 0;
  width: var(--ui-space);
  border-left: var(--border-width) solid $c-whiteish;
}

.hamburger-inner::before {
  @include media-breakpoint-up(md) {
    opacity: 0;
  }
}

// ------------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------------

// .container-fluid {
//   max-width: 940px;
//   max-width: 1100px;
//   margin-left: auto;
//   margin-right: auto;
//   padding-left: 30px;
//   padding-right: 30px;
//   @include media-breakpoint-down(xs) {
//     padding-left: 15px;
//     padding-right: 15px;
//   }
// }

// -----------------------------------------------------------------------------
// BOOTSTRAP BREAKPOINTS
// -----------------------------------------------------------------------------

// xs ---                 Portrait phones
// sm ---  576px and up   Small devices (landscape phones)
// md ---  768px and up   Medium devices (tablets)
// lg ---  992px and up   Large devices (desktops)
// xl --- 1200px and up   Extra large devices (large desktops)

// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
// @include media-breakpoint-up(sm) { ... }
// @include media-breakpoint-only(md) { ... }
// @include media-breakpoint-between(md, xl) { ... }
// @include media-breakpoint-down(lg) { ... }
