@charset "UTF-8";

// -----------------------------------------------------------------------------
// SCSS Variables
// -----------------------------------------------------------------------------

$button-h: 47px;
$button-h-s: 37px;
$menu-h: 50px;
$border-radius: 3px;
$space: 15px;
$ui-space-mob: 45px;
$ui-space-dsk: 65px;
$border-width-mob: 1px;
$border-width-dsk: 1px;
$c-whiteish: #f1f3d7;
$transition-duration: 800ms;

// -----------------------------------------------------------------------------
// External files import
// -----------------------------------------------------------------------------

@import "bootstrap-scss/_functions";
@import "bootstrap-scss/_variables";
@import "bootstrap-scss/mixins/_breakpoints";
@import "_reset";
@import "_typography";
@import "_mixins";
@import "_switch";
@import "hamburger-settings";
@import "hamburgers/hamburgers";

// -----------------------------------------------------------------------------
// CSS Variables
// -----------------------------------------------------------------------------

:root {
  --ui-space: #{$ui-space-mob};
  --border-width: #{$border-width-mob};
  @include media-breakpoint-up(md) {
    --ui-space: #{$ui-space-dsk};
    --border-width: #{$border-width-dsk};
  }
  --stars-color: unset;
}

// -----------------------------------------------------------------------------
// Utilities
// -----------------------------------------------------------------------------

.no-u {
  text-decoration: none;
}
.u-hover {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.pointer {
  cursor: pointer;
}
.upper {
  text-transform: uppercase;
}
.lower {
  text-transform: none;
}

.p-space {
  padding: $space;
}
.pt-space {
  padding-top: $space;
}
.pb-space {
  padding-bottom: $space;
}
.pl-space {
  padding-left: $space;
}
.pr-space {
  padding-right: $space;
}
.m-space {
  margin: $space;
}
.mt-space {
  margin-top: $space;
}
.mb-space {
  margin-bottom: $space;
}
.ml-space {
  margin-left: $space;
}
.mr-space {
  margin-right: $space;
}
.px-space {
  padding-left: $space;
  padding-right: $space;
}
.py-space {
  padding-top: $space;
  padding-bottom: $space;
}
.mx-space {
  margin-left: $space;
  margin-right: $space;
}
.my-space {
  margin-top: $space;
  margin-bottom: $space;
}

// -----------------------------------------------------------------------------
// General tags & classes
// -----------------------------------------------------------------------------

* {
  // text-rendering: auto;
  // text-rendering: optimizeSpeed;
  // text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision; // OK on chrome
}

body {
  overflow-x: hidden;
  width: 100vw;
  background-color: black;
  color: $c-whiteish;
  @include font-serif-l;
  text-align: center;
  &.media-open {
    overflow: hidden;
  }
  &[data-menu-panel="true"],
  &[data-about-panel="true"] {
    #main-content {
      // filter: blur(15px);
      opacity: 0.1;
    }
  }
}

hr {
  border-top: var(--border-width) solid $c-whiteish;
}

a {
  text-decoration: none;
  text-decoration-thickness: 1px;
  text-underline-offset: 10%;
  color: inherit;
  // &:hover { color: white; }
}

ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

// -----------------------------------------------------------------------------
// REUSABLE PIECES
// -----------------------------------------------------------------------------

.custom-hover:hover {
  color: var(--hover-color);
}
.only-dsk {
  @include media-breakpoint-down(xs) {
    display: none !important;
  }
}
.only-mob {
  @include media-breakpoint-up(sm) {
    display: none !important;
  }
}

// -----------------------------------------------------------------------------
// SPECIFIC - PANELS
// -----------------------------------------------------------------------------

@keyframes animateCircleOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(3);
    opacity: 0;
  }
}

@keyframes animateCircleIn {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: calc(75vmin - 80px);
    height: calc(75vmin - 80px);
  }
}

@keyframes animateRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main#main-content {
  z-index: 29;
  position: fixed;
  top: var(--ui-space);
  left: var(--ui-space);
  right: var(--ui-space);
  bottom: var(--ui-space);
  transition: all $transition-duration;
  display: flex;
  justify-content: center;
  align-items: center;
  #background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    opacity: 0;
    background-image: url(../images/test-bg.jpg);
    transition: all $transition-duration;
    @at-root body:not([data-track-open=""]) & {
      opacity: 1;
    }
  }
  #video-target {
    z-index: 29;
    position: fixed;
    top: var(--ui-space);
    left: var(--ui-space);
    right: var(--ui-space);
    bottom: var(--ui-space);
    transition: all $transition-duration;
  }
  #circle-wrapper {
    mix-blend-mode: lighten;
    z-index: 30;

    @include media-breakpoint-up(md) {
      width: calc(100vmin - var(--ui-space) * 3);
      height: calc(100vmin - var(--ui-space) * 3);
    }

    #circle {
      display: none;
      border-radius: 50%;
      cursor: pointer;
      transition: all 500ms;
      aspect-ratio: 1/1;
      border: 1px solid $c-whiteish;
      &.starting-point {
        width: 20px;
        height: 20px;
        background-color: $c-whiteish;
        &:not(.forced-start):hover {
          width: 25vmin;
          height: 25vmin;
          background-color: transparent;
        }
      }
      &.zoom-in {
        animation: animateCircleIn 1s forwards;
      }
      &.zoom-out {
        pointer-events: none;
        // width: 80vh;
        // height: 80vh;
        width: calc(75vmin - 80px);
        height: calc(75vmin - 80px);
        background-color: transparent;
        animation: animateCircleOut 2s;
      }
    }
  }
  #sec-circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
  #color-cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    pointer-events: none;
    transition: all 800ms $transition-duration;
    transition: all $transition-duration;
    transition: all 200ms;
    mix-blend-mode: multiply;
    @at-root body[data-track-open=""] & {
      opacity: 0;
    }
  }
}

#circle-time {
  animation: animateRotate 12s infinite linear;
  display: flex;
  &.paused {
    animation-play-state: paused;
  }
  &.clean {
    text,
    rect {
      opacity: 0;
    }
  }
  svg {
    width: 100%;
    height: 100%;
    vector-effect: non-scaling-stroke;
  }

  path#circlePath {
    stroke: $c-whiteish;
    stroke-width: 0.2px;
    fill: none;
  }

  rect.one,
  rect.two {
    transition: all $transition-duration;
    fill: black;
    stroke: none;
  }

  text {
    transition: all $transition-duration;
    transform: translate(-2px, 0px);
    font-size: 5px;
    font-family: sans-serif;
    fill: $c-whiteish;
    letter-spacing: 0.5px;
    stroke: black;
    @include font-serif-l;
    font-size: 10px !important;
    font-weight: 200;
    paint-order: stroke fill;
    #time-current,
    #time-duration {
      font-variant-numeric: tabular-nums;
    }
  }
}

#track-info-dsk-l,
#track-info-dsk-r {
  z-index: 60;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 50%;
  max-width: 50%;
  // pointer-events: none;
  transition: all $transition-duration;
  background-color: black;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  .vertical-bar {
    width: var(--ui-space);
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all $transition-duration;
    // @include font-serif-l;
    cursor: pointer;
    h2 {
      transform: rotate(-90deg);
      min-width: calc(100vh - var(--ui-space) - var(--ui-space));
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 0 15px;
    }
  }
  .content-wrapper {
    width: calc(100% - var(--ui-space));
    position: relative;
    top: var(--ui-space);
    padding: $space;
    overflow-y: auto;
    max-height: calc(100% - var(--ui-space) - var(--ui-space));
  }
  .button-wrapper {
    position: absolute;
    bottom: 0;
    background-color: transparent;
    pointer-events: none; // to access to the vertical bar event underneath
    img {
      transition: all $transition-duration;
    }
  }
}
#track-info-dsk-l {
  left: -51%;
  .vertical-bar {
    border-left: var(--border-width) solid transparent;
  }
  .button-wrapper {
    right: 0;
    img {
      @include media-breakpoint-down(xs) {
        transform: rotate(-90deg);
      }
    }
  }
  @at-root body:not([data-track-open=""]) & {
    left: calc(-50% + var(--ui-space));
  }
  @at-root body:not([data-track-open=""])[data-track-info="true"] & {
    @include media-breakpoint-up(sm) {
      left: 0;
      .vertical-bar {
        border-left: var(--border-width) solid $c-whiteish;
      }
    }
    .button-wrapper img {
      transform: rotate(180deg);
      @include media-breakpoint-down(xs) {
        transform: rotate(90deg);
      }
    }
  }
}
#track-info-dsk-r {
  right: -51%;
  .vertical-bar {
    border-right: var(--border-width) solid transparent;
  }
  .button-wrapper {
    left: 0;
    img {
      @include media-breakpoint-down(xs) {
        transform: rotate(90deg);
      }
    }
  }
  @at-root body:not([data-track-open=""]) & {
    right: calc(-50% + var(--ui-space));
  }
  @at-root body:not([data-track-open=""])[data-track-info="true"] & {
    @include media-breakpoint-up(sm) {
      right: 0;
      .vertical-bar {
        border-right: var(--border-width) solid $c-whiteish;
      }
    }
    .button-wrapper img {
      transform: rotate(180deg);
      @include media-breakpoint-down(xs) {
        transform: rotate(-90deg);
      }
    }
  }
}

#menu-panel {
  z-index: 30;
  position: fixed;
  top: var(--ui-space);
  left: var(--ui-space);
  right: var(--ui-space);
  bottom: var(--ui-space);
  // background-color: rgba(black, 0.8);
  opacity: 0;
  pointer-events: none;
  transition: all $transition-duration;
  @at-root body[data-menu-panel="true"] & {
    opacity: 1;
    pointer-events: all;
  }
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;

  ul.content-wrapper {
    max-height: 100%;
    overflow-y: auto;
    padding-top: $space * 2;
    padding-bottom: $space * 2;
  }
  a.track {
    // @include font-serif-l;
    display: inline-flex;
    width: 100%;
    padding: 8px 0;
    .left,
    .right {
      width: 50%;
      display: inline-block;
      padding-left: $space;
      padding-right: $space;
    }
    .left {
      text-align: right;
    }
    .right {
      text-align: left;
    }
  }
  .line {
    border-left: var(--border-width) solid $c-whiteish;
    position: fixed;
    top: var(--ui-space);
    bottom: var(--ui-space);
    left: 50%;
    width: 0;
  }
  @include media-breakpoint-down(md) {
    a.track {
      // @include font-serif-m;
    }
  }
  @include media-breakpoint-down(sm) {
    a.track {
      @include font-serif-m;
      display: block;
      .left,
      .right {
        width: 100%;
        text-align: center;
      }
    }
    .line {
      display: none;
    }
  }
}

#accessibility-panel,
#artangel-panel {
  z-index: 30;
  position: fixed;
  top: var(--ui-space);
  width: 320px;
  bottom: var(--ui-space);
  background-color: rgba(black, 0.9);
  padding: $space;
  // background-color: rgba(#9f4848, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: all $transition-duration;
  &#accessibility-panel {
    border-right: var(--border-width) solid $c-whiteish;
    left: var(--ui-space);
    @include media-breakpoint-down(md) {
      width: auto;
      right: 50%;
    }
    @include media-breakpoint-down(xs) {
      width: auto;
      right: var(--ui-space);
      border-right-width: 0;
    }
    @at-root body[data-accessibility-panel="true"] & {
      opacity: 1;
      pointer-events: all;
    }
  }
  &#artangel-panel {
    border-left: var(--border-width) solid $c-whiteish;
    right: var(--ui-space);
    @include media-breakpoint-down(md) {
      width: auto;
      left: 50%;
    }
    @include media-breakpoint-down(xs) {
      width: auto;
      left: var(--ui-space);
      border-left-width: 0;
    }
    @at-root body[data-artangel-panel="true"] & {
      opacity: 1;
      pointer-events: all;
    }
  }
}

#track-info-mob {
  z-index: 30;
  position: fixed;
  top: calc(100% - var(--ui-space));
  left: var(--ui-space);
  right: var(--ui-space);
  height: calc(100% - var(--ui-space) - var(--ui-space));
  overflow-y: scroll;
  opacity: 0;
  pointer-events: none;
  transition: all $transition-duration;
  background-color: black;
  @at-root body:not([data-track-open=""])[data-track-info="true"] & {
    opacity: 1;
    pointer-events: all;
    top: var(--ui-space);
  }
  @include media-breakpoint-up(sm) {
    display: none;
  }
  #track-info-artist-mob {
  }
  #track-info-script-mob {
  }
}

#about-panel {
  z-index: 30;
  position: fixed;
  top: calc(100% - var(--ui-space));
  left: var(--ui-space);
  right: var(--ui-space);
  height: calc(100% - var(--ui-space) - var(--ui-space));
  overflow-y: scroll;
  // background-color: rgba(#9f4848, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: all $transition-duration;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  @at-root body[data-about-panel="true"] & {
    opacity: 1;
    pointer-events: all;
    top: var(--ui-space);
  }
  .about-content,
  .credits-content {
    width: 50%;
    padding: $space;
    hr {
      margin-top: $space;
      margin-bottom: $space;
      margin-left: -$space;
      margin-right: -$space;
    }
  }
  .line {
    border-left: var(--border-width) solid $c-whiteish;
    position: fixed;
    top: var(--ui-space);
    bottom: var(--ui-space);
    left: 50%;
    width: 0;
  }
  @include media-breakpoint-down(sm) {
    flex-flow: column nowrap;
    .about-content,
    .credits-content {
      width: 100%;
    }
    .line {
      display: none;
    }
  }
}

// -----------------------------------------------------------------------------
// SPECIFIC - PLAYER UI
// -----------------------------------------------------------------------------

#player-ui {
  z-index: 40;
  position: fixed;
  top: 30vh;
  #next-track,
  #prev-track {
    position: fixed;
    bottom: calc(var(--ui-space) + 20px);
    background-color: transparent;
    height: var(--ui-space);
    cursor: pointer;
    display: flex;
  }
  #next-track {
    right: calc(var(--ui-space) + 20px);
    @include media-breakpoint-up(md) {
      top: calc(50% - var(--ui-space) / 2);
    }
  }
  #prev-track {
    left: calc(var(--ui-space) + 20px);
    @include media-breakpoint-up(md) {
      top: calc(50% - var(--ui-space) / 2);
    }
  }
  #play-pause-button {
    background-color: transparent;
    @include font-serif-l;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $c-whiteish;
    &::after {
      content: "PAUSE";
    }
    @at-root body[data-player-paused="true"] & {
      &::after {
        content: "PLAY";
      }
    }
  }
}

// -----------------------------------------------------------------------------
// SPECIFIC - UI
// -----------------------------------------------------------------------------

.stars {
  display: flex;
  & .left {
  }
  &.right {
    transform: scale(-1, 1);
  }
  svg {
    path.star {
      transition: all $transition-duration;
      opacity: 0.3;
      @at-root body[data-current-uid="vol1"] &.star1 {
        opacity: 1;
        fill: var(--stars-color, $c-whiteish);
      }
      @at-root body[data-current-uid="vol2"] &.star2 {
        opacity: 1;
        fill: var(--stars-color, $c-whiteish);
      }
      @at-root body[data-current-uid="vol3"] &.star3 {
        opacity: 1;
        fill: var(--stars-color, $c-whiteish);
      }
    }
  }
}

#top-txt,
#bottom-txt,
#bottom-txt-about {
  z-index: 50;
  position: fixed;
  left: var(--ui-space);
  right: var(--ui-space);
  height: var(--ui-space);
  transition: all $transition-duration;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  // @include font-serif-l;
}
#top-txt {
  top: 0;
}
#bottom-txt,
#bottom-txt-about {
  bottom: 0;
}
#bottom-txt-about {
  opacity: 0;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
  @at-root body[data-menu-panel="true"] & {
    opacity: 1;
  }
}

.button-wrapper {
  background-color: black;
  width: var(--ui-space);
  height: var(--ui-space);
  max-width: var(--ui-space);
  max-height: var(--ui-space);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all $transition-duration;
  overflow: hidden;
  color: $c-whiteish;
  button {
    background-color: transparent;
  }
  img {
    width: 100%;
    height: 100%;
  }
}
#button-wrapper-top-left,
#button-wrapper-top-right,
#button-wrapper-bottom-left,
#button-wrapper-bottom-right {
  position: fixed;
}
#button-wrapper-top-left {
  z-index: 61;
  top: 0;
  left: 0;
  border-left: 1px solid transparent;
  @at-root body:not([data-track-open=""])[data-track-info="true"] & {
    @include media-breakpoint-up(sm) {
      left: calc(50% - var(--ui-space));
      border-left: var(--border-width) solid $c-whiteish;
    }
  }
}
#button-wrapper-top-right {
  z-index: 61;
  top: 0;
  right: 0;
  border-right: 1px solid transparent;
  @at-root body:not([data-track-open=""])[data-track-info="true"] & {
    @include media-breakpoint-up(sm) {
      right: calc(50% - var(--ui-space));
      border-right: var(--border-width) solid $c-whiteish;
    }
  }
}
#button-wrapper-bottom-left {
  z-index: 49;
  bottom: 0;
  left: 0;
}
#button-wrapper-bottom-right {
  z-index: 49;
  bottom: 0;
  right: 0;
}

#ui-line-top,
#ui-line-bottom,
#ui-line-left,
#ui-line-right {
  z-index: 70;
  position: fixed;
  background-color: transparent;
  pointer-events: none;
  transition: all $transition-duration;
}
#ui-line-top {
  top: 0;
  left: 0;
  right: 0;
  height: var(--ui-space);
  border-bottom: var(--border-width) solid $c-whiteish;
}
#ui-line-bottom {
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--ui-space);
  border-top: var(--border-width) solid $c-whiteish;
}
#ui-line-left {
  left: 0;
  top: 0;
  bottom: 0;
  width: var(--ui-space);
  border-right: var(--border-width) solid $c-whiteish;
  @at-root body:not([data-track-open=""])[data-track-info="true"] & {
    @include media-breakpoint-up(sm) {
      left: calc(50% - var(--ui-space));
      opacity: 0;
    }
  }
}
#ui-line-right {
  right: 0;
  top: 0;
  bottom: 0;
  width: var(--ui-space);
  border-left: var(--border-width) solid $c-whiteish;
  @at-root body:not([data-track-open=""])[data-track-info="true"] & {
    @include media-breakpoint-up(sm) {
      right: calc(50% - var(--ui-space));
    }
  }
}

.hamburger-inner::before {
  @include media-breakpoint-up(md) {
    opacity: 0;
  }
}

// ------------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------------

// .container-fluid {
//   max-width: 940px;
//   max-width: 1100px;
//   margin-left: auto;
//   margin-right: auto;
//   padding-left: 30px;
//   padding-right: 30px;
//   @include media-breakpoint-down(xs) {
//     padding-left: 15px;
//     padding-right: 15px;
//   }
// }

// -----------------------------------------------------------------------------
// BOOTSTRAP BREAKPOINTS
// -----------------------------------------------------------------------------

// xs ---                 Portrait phones
// sm ---  576px and up   Small devices (landscape phones)
// md ---  768px and up   Medium devices (tablets)
// lg ---  992px and up   Large devices (desktops)
// xl --- 1200px and up   Extra large devices (large desktops)

// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
// @include media-breakpoint-up(sm) { ... }
// @include media-breakpoint-only(md) { ... }
// @include media-breakpoint-between(md, xl) { ... }
// @include media-breakpoint-down(lg) { ... }
